<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <p id="text"></p>
    <video tabindex="-1" class="video-stream html5-main-video" controlslist="nodownload" style="width: 887px; height: 499px; left: 0px; top: 0px;" src="blob:https://www.youtube.com/65acfb33-cdf9-420c-b6c3-ff5fb25b0a69"></video>
</body>
</html>